<div class="container-fluid">
  <div class="row">
    <h1>{{restaurant.name}}</h1>
  </div>
  
  <div class="row">
    <ul class="nav nav-tabs" >
      <li class="nav-item">
        <a class="nav-link" (click)="getCategoryCourses('all')">All</a>
      </li>
      <li  *ngFor="let category of categories" class="nav-item" >
        <a class="nav-link" (click)="getCategoryCourses(category)">{{category}}</a>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-warning pull-right">View Order</button>
      </li>
    </ul>

  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-12" *ngFor="let course of categoriesCourses">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{course.image}}" width="300px" height="250px" alt="Card image cap">
        <div class="card-body">
          <div class="card-block">
            <div class="card-title">
              <h4 style="text-transform: capitalize;">{{course.name}}
                <span *ngIf="course.new=='Y'" class="badge badge-pill badge-danger">
                  <i class="fa fa-angellist" aria-hidden="true"></i> new</span>
                <span *ngIf="course.new=='N'" class="badge badge-pill badge-danger"></span>
              </h4>
            </div>
            <div class="card-text">
              <div class="row">
                <div class="col col-6">
                  <span><b>Rating:</b> {{course.rating}}</span>
                </div>
                <div class="col col-6">
                  <span><b>Price:</b> {{course.price}}</span>
                </div>
              </div>
  
              <span><b>Ingredient:</b> {{course.ingredient}}</span>
            </div>
            <button class="col btn btn-primary" (click)="addDish()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


