<button class="btn btn-success" data-toggle="modal" data-target="#customerLogin">Login</button>
<div class="modal fade" id="customerLogin" tabindex="-1" role="dialog" aria-labelledby="customerLoginLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customerLoginTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label for="customerEmail">Email address</label>
            <input type="email" class="form-control" id="customerEmail" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="visitor.email" name="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="customerPassword">Password</label>
            <input type="password" class="form-control" id="customerPassword" placeholder="Password" [(ngModel)]="visitor.password" name="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="getCustomerId(visitor.email, visitor.password)">Log in</button>
      </div>
    </div>
  </div>
</div>
